.header {
  height: 20vh;
}

.header__content a{
    color: black;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 0.75px solid rgb(0, 0, 0, 0.2);
  font-size: 10pt;
}

.header__listbox {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  /* 플렉스는 바로 직계 자식에 적용됨. nav에 플렉스를 걸었다면, ul이라는 한덩어리만 플렉스가 걸어져서 li까지 효과 적용 안됨. */
}

.header__content {
  margin: 0 20px;
}

/* ---------------------top header Elements--- */
.header__point-badge {
  position: relative;
}

.header__point {
  background-color: rgb(207, 203, 199);
  padding: 5px;
  border-radius: 10%;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.header__point span {
  color: white;
  font-size: 9pt;
  font-family: normal;
}

.header__cart-badge {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  padding: 2px;
  position: absolute;
  top: -11px;
  right: -8px;
}

.header__content--badge-box {
  position: relative;
}

.header__cart-badge span {
  color: white;
  font-size: 13px;
}

.header__nav {
  width: 33.3%;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 진짜 담당 */
}

.header__title {
  width: 33.3%;
  font-size: 26px;
  font-weight: bold;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 진짜 담당 */
  justify-content: center; /* 텍스트 얼라인 center는 안됨. (flex썼다면 저스티파이로 하기.) */
  margin: 10px 0px;
}

.header__menu {
  display: flex;
  width: 33.3%;
  justify-content: flex-end;
  align-items: center; /* 세로 중앙 정렬 진짜 담당 */
}
/* ---------------------top header Elements--- */

.header__bottom {
  font-size: 10pt;
}

.header__category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 0px;
}
/* -----------main----------- */
.main {
  width: 100vw;
  height: 80vh;
  background-color: rgb(105, 83, 73);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.main__content {
  text-align: center;
  position: absolute;
}

.main__text {
  margin: 20px 0;
  color: white;
  font-size: 11pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 2px;
  text-shadow: var(--text-shadow);
}

.main__image img {
  width: 320px;
  height: auto;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  box-shadow: var(--box-shadow);
}

.main__title {
  color: white;
  font-size: 60pt;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 14px;
  text-shadow: var(--text-shadow);
}

.main__buttons button {
  font-size: 30pt;
  font-weight: lighter;
  background: none; /* 투명 배경 */
  border: none; /* 테두리 제거 */
  color: #fff; /* 글자색 흰색 */
  padding: 0; /* 필요하면 나중에 조절 */
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__button-left {
  position: absolute;
  left: 50px; /* 또는 -52%, -54% 등 눈으로 맞추기 */
  top: 57%;
  padding: 50px;
}

.main__button-right {
  position: absolute;
  right: 50px; /* 또는 -52%, -54% 등 눈으로 맞추기 */
  top: 57%;
  padding: 50px;
}
/* ----------main(대문) --------- */
